<%= form_for @invoice, :html => { :class => "form-horizontal invoice" } do |f| %>

    <% if @invoice.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @invoice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :patientId, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :patientId, :class => 'form-control' %>
    </div>
    <%= error_span(@invoice[:patientId]) %>
  </div>
  <div class="control-group">
    <%= f.label :appointmentId, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :appointmentId, :class => 'form-control' %>
    </div>
    <%= error_span(@invoice[:appointmentId]) %>
  </div>
  <div class="control-group">
    <%= f.label :subtotal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subtotal, :class => 'form-control' %>
    </div>
    <%= error_span(@invoice[:subtotal]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            invoices_path, :class => 'btn btn-default' %>

<% end %>
