<%= form_for @physician, :html => { :class => "form-horizontal physician" } do |f| %>

    <% if @physician.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@physician.errors.count, "error") %> prohibited this physician from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @physician.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@physician[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@physician[:email]) %>
  </div>
  <div class="control-group">
    <%= f.label :speciality, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :speciality, :class => 'form-control' %>
    </div>
    <%= error_span(@physician[:speciality]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            physicians_path, :class => 'btn btn-default' %>

<% end %>
