<%- model_class = Physician -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @physician.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @physician.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:speciality) %>:</strong></dt>
  <dd><%= @physician.speciality %></dd>
</dl>

<div class="panel-group" id="accordion">
  <div class="panel panel-default" id="panel1">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne"
         href="#">
      <h4  class="panel-title">Future Appointments</h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <% if @physician.appointments.where('date > ?', Time.zone.now ).any? %>
        <% @physician.appointments.where("date > ?", Time.zone.now ).each  do |appointment| %>
        <dl class="dl-horizontal breadcrumb">
          <dt><strong>Date:</strong></dt>
          <dd><%= appointment.date %></dd>
          <dt><strong>Patient Name:</strong></dt>
          <dd><%= Patient.find(appointment.patientId).name %></dd>
          <dt><strong>Patient Concern:</strong></dt>
          <dd><%= appointment.patientConcern %></dd>
        </dl>
        <%end%>
            <%else%>
        <p>There are no appointments.</p>
            <%end%>
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="panel2">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo"
         href="#">
      <h4 class="panel-title">
          Past Appointments
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <% if @physician.appointments.where("date < ?", Time.zone.now ).any? %>
        <%  @physician.appointments.where("date < ?", Time.zone.now ).each  do |appointment| %>
            <dl class="dl-horizontal breadcrumb">
              <dt><strong>Date:</strong></dt>
              <dd><%= appointment.date %></dd>
              <dt><strong>Patient Name:</strong></dt>
              <dd><%= Patient.find(appointment.patientId).name %></dd>
              <dt><strong>Patient Concern:</strong></dt>
              <dd><%= appointment.patientConcern %></dd>
              <dt><strong>Physician Notes:</strong></dt>
              <dd><%= appointment.physicianNotes %></dd>
              <dt><strong>Diagnostic Code:</strong></dt>
              <dd><%= if appointment.diagnosticCodeId; DiagnosticCode.find(appointment.diagnosticCodeId).code end %></dd>
            </dl>
        <%end%>
        <%else%>
        <p>There are no appointments.</p>
        <%end%>
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="panel3">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseThree"
         href="#collapseThree" class="collapsed">
      <h4 class="panel-title">
          Today's Appointments
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <% if @physician.appointments.where("date > ?", Date.today).where("date < ?", Date.tomorrow-1.minute).any? %>
            <%  @physician.appointments.where("date > ?", Date.today).where("date < ?", Date.tomorrow-1.minute).each  do |appointment| %>
                <%= form_for @appointment= appointment, remote:true , :html=>{:method=> 'patch',:'data-type' => 'json', :class => "dl-horizontal breadcrumb", :id =>"edit_appointment"} do |f|%>
                <dl>
                  <%= f.submit  :class => 'btn btn-default pull-right' %>
                  <dt><strong>Date:</strong></dt>
                  <dd><%= appointment.date %></dd>
                  <dt><strong>Patient Name:</strong></dt>
                  <dd><%= Patient.find(appointment.patientId).name %></dd>
                  <dt><strong>Patient Concern:</strong></dt>
                  <dd><%= appointment.patientConcern %>
                  <dt><strong>Physician Notes:</strong></dt>
                  <dd><%= f.text_area :physicianNotes, :class => 'form-control' %></dd><br>
                  <dt><strong>Diagnostic Code:</strong></dt>
                  <dd><%= f.collection_select :id, DiagnosticCode.all, :id, :description , :class => 'form-control'%></dd>
                  <%#= f.hidden_field :patientConcern%>
                  <%#=f.hidden_field :patientId%>
                  <%#= f.hidden_field :physicianId %>
                  <%#=l f.hidden_field :date%>
                </dl>
                    <%end%>
            <%end%>
        <%else%>
            <p>There are no appointments.</p>
        <%end%>
      </div>
    </div>
  </div>
</div>


<%= link_to t('.back', :default => t("helpers.links.back")),
              physicians_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_physician_path(@physician), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              physician_path(@physician),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>


<script>
  $(document).on("change","#collapseOne > div > dl > dd > form > div > input.btn.btn-xs.btn-danger.pull-right", $("#collapseOne").load(window.location.pathname+" #collapseOne > div"));
</script>