<%if @invoices_pending.any? %>
    <% @invoices_pending.each do |appointment|%>

        <%= form_for @invoice, remote: true, :html => { :'data-type' => 'json', :class => "dl-horizontal breadcrumb", :id =>"appointments-pending-invoicing"} do |f| %>
            <% if appointment.errors.any? %>
                <div id="error_expl" class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= pluralize(appointment.errors.count, "error") %> prohibited this patient from being saved:</h3>
                  </div>
                  <div class="panel-body">
                    <ul>
                      <% @patient.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
            <% end %>
            <div >
              <%= f.submit nil,:class => 'btn btn-default pull-right', :type => ''%>
              <dl>
                <dt><strong>Appointment #:</strong></dt>
                <dd><%= appointment.id %></dd>
                <dt><strong>Date:</strong></dt>
                <dd><%=l appointment.date %></dd>
                <dt><strong>Patient Name:</strong></dt>
                <% Patient.where(:Id => appointment.patientId).each do |patient|%>
                    <dd><%= patient.name  %></dd>
                <%end%>
                <dt><strong>Physician Name:</strong></dt>
                <% Physician.where(:Id => appointment.physicianId).each do |physician|%>
                    <dd><%= physician.name  %></dd>
                <%end%>
                <dt><strong>Diagnostic:</strong></dt>
                <% DiagnosticCode.where(:Id => appointment.diagnosticCodeId).each do |diagnostic|%>
                    <dd><%= diagnostic.description  %></dd>
                <%end%>
                <dt><strong>Estimated Price:</strong></dt>
              </dl>
              <% DiagnosticCode.where(:Id => appointment.diagnosticCodeId).each do |diagnostic|%>
                  <dd>$<%= diagnostic.price%></dd>
                  <%= f.hidden_field :subtotal, :value => diagnostic.price%>
              <%end%>
              <%= f.hidden_field :patientId, :value => appointment.patientId%>
              <%= f.hidden_field :appointmentId, :value => appointment.id%>
              <br>

            </div>

        <%end%>


    <%end%>
<%else%>
    <div id="appointments-pending-invoicing">
    <p>There are no appointments pending invoicing.</p>
    </div>
<%end%>

<script>
    $(document).on("click", "#appointments-pending-invoicing > div > input.btn",function(){
        $(this).attr("value","Processing");
        //$(this).attr("type","submit");
        //callback handler for form submit
        $(this<"div < #appointments-pending-invoicing").submit(function(e)
        {
            var postData = $(this).serializeArray();
            var formURL = $(this).attr("action");
            $.ajax(
                    {
                        url : formURL,
                        type: "POST",
                        data : postData,
                        success:function()
                        {
                            //data: return data from server
                            //alert("Success");
                            //$(this>"div > input.btn.pull-right").attr("class","btn btn-success pull-right");
                            //$(this>"div > input.btn.pull-right").attr("value","Invoice created");

                        },
                        error: function(jqXHR, textStatus, errorThrown)
                        {
                            //if fails
                            //alert("Failed");
                            $(this>"div > input.btn.pull-right").attr("class","btn btn-warning pull-right");
                            $(this>"div > input.btn.pull-right").attr("value","Failed");
                        }
                    });
            e.preventDefault(); //STOP default action
            e.unbind(); //unbind. to stop multiple form submit.
        });

        $(this).submit(); //Submit  the FORM
        $(this).attr("class","btn btn-success pull-right");
        $(this).attr("value","Invoice created").delay(2000);
        $(this<"div < #appointments-pending-invoicing").remove();
        $("#collapseOne > div").load("/officeworker.html #appointments-pending-invoicing");
        $("#collapseTwo").load("/officeworker.html #collapseTwo > div");
    });
</script>