<h3 class="page-header">Administrator</h3>

<div class="panel-group" id="accordion">
  <div class="panel panel-default" id="panel1">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne"
         href="#">
      <h4  class="panel-title">Report</h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">

        <% @physicians.each do |physician| %>

            <div class="panel panel-default" id="panel1">
              <div class="panel-heading" data-toggle="collapse" data-target="#collapse_physician<%= physician.id %>"
                   href="#">
                <%= physician.name %>
              </div>
              <div id="collapse_physician<%= physician.id %>" class="panel-collapse collapse">
                <div class="panel-body">

                  <% if @appointments.where(:physicianId => physician.id).where("date < '"+ Time.zone.now.to_s+ "'").any?  %>

                      <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                          <th>Appointment Date:</th>
                          <th>Amount Invoiced:</th>
                        </tr>
                        </thead>
                        <tbody><% @appointments.where(:physicianId => physician.id).where("date < '"+ Time.zone.now.to_s+ "'").each do |appointment| %>
                            <tr>
                              <td>
                                <%= link_to appointment.date.strftime('%c'), appointment_path(appointment)%>
                              </td>
                              <% if !@invoices.where(:appointmentId => appointment.id).empty? %>
                                  <% @invoices.where(:appointmentId => appointment.id).each do |invoice| %>
                                      <td><%= if invoice.subtotal.nil?; html_escape 'Amount not defined.'; else link_to number_to_currency(invoice.subtotal), invoice_path(invoice) end%></td>
                                  <%end%>
                              <%else%> <td>Invoice not found.</td> <%end%>
                            </tr><%end%>
                        </tbody>
                      </table>
                  <% else%> No records found.
                  <%end%>



                </div>
              </div>
            </div>


        <%end%>




      </div>
    </div>
  </div>
  <div class="panel panel-default" id="panel2">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo"
         href="#">
      <h4 class="panel-title">
        Physicians
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">

        <%= render :template => 'physicians/index'%>

      </div>
    </div>
  </div>
  <div class="panel panel-default" id="panel3">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseThree"
         href="#collapseThree" class="collapsed">
      <h4 class="panel-title">
        Diagnostic Codes
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">

        <%= render :template => 'diagnostic_codes/index'%>

        <script>$("div.page-header").remove();</script>

      </div>
    </div>
  </div>
</div>
