<%- model_class = Patient -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @patient.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @patient.email %></dd>
</dl>

<div class="panel-group" id="accordion">
  <div class="panel panel-default" id="panel1">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne"
         href="#">
      <h4  class="panel-title">Future Appointments</h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">

        <%if @patient.appointments.where("date > '"+ Time.zone.now.to_s+ "'").any? %>
            <% @patient.appointments.where("date > '"+ Time.zone.now.to_s+ "'").each do |appointment|%>
                    <dl class="dl-horizontal breadcrumb" href="<% appointment_path(appointment) %>">
                      <dt><strong>Date:</strong></dt>
                      <dd><%= appointment.date.strftime('%c') %></dd>
                      <dt><strong>Physician Name:</strong></dt>
                      <% Physician.where(:id => appointment.physicianId).each do |physician|%>
                      <dd><%= physician.name  %></dd>
                      <%end%>
                      <dt><strong>Patient Concern:</strong></dt>
                      <dd><%= appointment.patientConcern %>
                      <%= button_to 'Cancel Appointment',appointment_path(appointment), :method=> 'delete',:data => {:confirm => 'Are you sure?'},:class => 'btn btn-xs btn-danger pull-right'%></dd>
                    </dl>
                <%end%>
            <%else%>
        <p>There are no future appointments.</p>
        <%end%>
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="panel2">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo"
         href="#">
      <h4 class="panel-title">
        Past Appointments
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <%if @patient.appointments.where("date < '"+ Time.zone.now.to_s+ "'").any? %>
            <% @patient.appointments.where("date < '"+ Time.zone.now.to_s+ "'").each do |appointment|%>
                <dl class="dl-horizontal breadcrumb">
                  <dt><strong>Date:</strong></dt>
                  <dd><%= appointment.date.strftime('%c') %></dd>
                  <dt><strong>Physician Name:</strong></dt>
                  <% Physician.where(:id => appointment.physicianId).each do |physician|%>
                  <dd><%= physician.name  %></dd>
                      <%end%>
                  <dt><strong>Your Concern:</strong></dt>
                  <dd><%= appointment.patientConcern %></dd>
                  <dt><strong>Physician Notes:</strong></dt>
                  <dd><%= appointment.physicianNotes %></dd>
                  <dt><strong>Diagnostic:</strong></dt>
                  <dd><% DiagnosticCode.find(appointment.diagnosticCodeId) do |diagnostic| %><%= diagnostic.code+ ' - '+ diagnostic.description%><% end%></dd>
                </dl>
                <%end%>
        <%else%>
            <p>There are no past appointments.</p>
        <%end%>
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="panel3">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseThree"
         href="#collapseThree" class="collapsed">
      <h4 class="panel-title">
          New appointment
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render :partial => 'appointments/form', object:  @appointment = Appointment.new(:patientId => @patient.id), remote: true %>
        <script>
            $("#p_notes-div").remove();
            $("#d_code-div").remove();
            $("#appointment_patientId option:not(:selected)").remove();
        </script>
      </div>
    </div>
  </div>
</div>



<%= link_to t('.back', :default => t("helpers.links.back")),
              patients_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_patient_path(@patient), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              patient_path(@patient),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
