<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>


<%= form_for(@appointment) do |f| %>

    <% if @appointment.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@appointment.errors.count, "error") %> prohibited this physician from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @appointment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>


    <div class="control-group" id="physician">
      <%= f.label :'Physician:', :class => 'control-label' %><br>
      <%= f.collection_select :physicianId , Physician.order('name'), :id, :name, {include_blank: 'Select physician:'},:class => 'form-control' %>
    </div>
    <div class="control-group">
      <%= f.label :'Day:', :class => 'control-label' %><br>
      <input class="form-control" id="appointment" value="<%= if !@appointment.date.nil?;@appointment.date.strftime('%A, %d %B, %Y'); end%>">
      <%= f.hidden_field :date, :class =>'form-control', :id =>'appointment_date_hidden' %>
    </div>
  <div class="control-group">
    <%= f.label :'Hour:', :class => 'control-label' %><br>
    <%= f.collection_select :date, fetchAvailableHours(@appointment.date,@appointment.physicianId, @appointment.date), :to_s, :convertToHoursMinutes, if !@appointment.date.nil? ;{} ; else; {include_blank: 'Select hour:'}; end , :class => 'form-control' %>
  </div>
  <div class="control-group">
    <%= f.label :'Patient Name', :class => 'control-label' %><br>
    <%= f.collection_select :patientId , Patient.order('name') , :id,:name, {include_blank: 'Select a patient:'}, :class => 'form-control' %>
  </div>
  <div class="control-group" id="concern-div">
    <%= f.label :'Concern', :class => 'control-label' %><br>
    <%= f.text_area :patientConcern,:class => 'form-control' %>
  </div>
  <div class="control-group" id="p_notes-div">
    <%= f.label :'Physician Notes', :class => 'control-label' %><br>
    <%= f.text_area :physicianNotes, :class => 'form-control' %>
  </div>
  <div class="control-group" id="d_code-div">
    <%= f.label :'Diagnostic Code', :class => 'control-label' %><br>
    <%= f.number_field :diagnosticCodeId, :class => 'form-control' %>
  </div>
    <div class="control-group" align="center"><br>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                appointments_path, :class => 'btn btn-default' %><br>
<% end %>
</div>

