<%= form_for (@appointment=Appointment.new) do |f|%>
    <% cgi = CGI::parse(URI.parse(request.original_url).query)%>
    <% date = cgi['date'][0]; physicianId = cgi['physicianId'][0]; %>
    <label class="control-label">Hour:</label><br>
    <%#= f.collection_select :date, fetchAvailableHours(cgi['date'][0].to_time,cgi['physicianId'][0],cgi['currentAppointment'][0].to_time), to_s, convertToHoursMinutes, if !cgi['date'][0].nil? ;{} ; else; {include_blank: 'Select hour:'}; end , :class => 'form-control' %>
    <%= f.collection_select :date, fetchAvailableHours(date,physicianId,nil), :to_s, :convertToHoursMinutes , :class => 'form-control' %>
<%end%>
