<%- model_class = Appointment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:patientConcern) %></th>
      <th><%= model_class.human_attribute_name(:physicianNotes) %></th>
      <th><%= model_class.human_attribute_name(:patientId) %></th>
      <th><%= model_class.human_attribute_name(:physicianId) %></th>
      <th><%= model_class.human_attribute_name(:diagnosticCodeId) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.id, appointment_path(appointment) %></td>
        <td><%=l appointment.date %></td>
        <td><%= appointment.patientConcern %></td>
        <td><%= appointment.physicianNotes %></td>
        <td><%= appointment.patientId %></td>
        <td><%= appointment.physicianId %></td>
        <td><%= appointment.diagnosticCodeId %></td>
        <td><%=l appointment.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_appointment_path(appointment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      appointment_path(appointment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_appointment_path,
            :class => 'btn btn-primary' %>
