<%- model_class = Appointment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @appointment.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:patientConcern) %>:</strong></dt>
  <dd><%= @appointment.patientConcern %></dd>
  <dt><strong><%= model_class.human_attribute_name(:physicianNotes) %>:</strong></dt>
  <dd><%= @appointment.physicianNotes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:patientId) %>:</strong></dt>
  <dd><%= @appointment.patientId %></dd>
  <dt><strong><%= model_class.human_attribute_name(:physicianId) %>:</strong></dt>
  <dd><%= @appointment.physicianId %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diagnosticCodeId) %>:</strong></dt>
  <dd><%= @appointment.diagnosticCodeId %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              appointments_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_appointment_path(@appointment), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              appointment_path(@appointment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
