<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>

  <title><%= content_for?(:title) ? yield(:title) : "IndividualProjectF2014" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%= javascript_include_tag "application" %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path  %>">DermaLab </a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", about_path  %></li>
        <li><%= link_to "News", news_path  %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Administrator", administrator_path  %></li>
            <li><%= link_to "Office Worker", officeworker_path  %></li>
            <li><%= link_to "Physician", "",{onclick:"a=prompt('Physician Id:');if (a!==null){window.location.href='/physicians/'+a;};"}  %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container"style="padding-top: 60px;">
  <div class="row">
    <div class="col-lg-9">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <div class="col-lg-3">
      <div class="well sidebar-nav">
        <h3>Quick Access</h3>
        <ul class="nav nav-list">
          <li class="nav-header">Patient links:</li>
          <li><%= link_to "New Appointment", "", {onclick:"a=prompt('Patient Id:');if (a!==null){window.location.href='/patients/'+a;};"}%></li>
          <li><%= link_to "View Appointment", "", {onclick:"a=prompt('Patient Id:');if (a!==null){window.location.href='/patients/'+a;};"}%></li>
          <li><%= link_to "Cancel Appointment", "", {onclick:"a=prompt('Patient Id:');if (a!==null){window.location.href='/patients/'+a;};"}%></li>
        </ul>
        <ul class="nav nav-list">
          <li class="nav-header">Support:</li>
          <li><%= link_to "Diagnostic Codes", diagnostic_codes_path  %></li>
          <li><%= link_to "Payment FAQ", "#"  %></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
  </div><!--/row-->

  <footer><br>
    <p>&copy; DermaLab 2014 | 222 Main St, Houston,Tx 77002</p>
  </footer>

</div> <!-- /container -->

</body>
</html>
